numpy
pandas>=2.0.0
torch>=2.0.0

einops==0.8.1
huggingface_hub==0.33.1
matplotlib>=3.9.0
tqdm==4.67.1
safetensors==0.6.2

# Kronos Bot dependencies
backtesting
bokeh>=3.0
flask
flask-cors
plotly
yfinance
click
statsmodels
